# APIS
VITE_API_BASE_URL=
VITE_API_TOKEN=

# URL LOGIN
VITE_LOGIN_URL=

# ALBUM API PARK SPAIN 1
VITE_FLICKR_BASE_URL=https://www.flickr.com/services/rest/
VITE_FLICKR_API_KEY=
VITE_FLICKR_USER_ID=

# ALBUM API PARK SPAIN 2
VITE_FLICKR_API_KEY_2=
VITE_FLICKR_USER_ID_2=